{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": [
        "source-map-support"
      ]
    }
  },
  "plugins": ["inline-package-json"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}