{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": [
        "source-map-support"
      ]
    }
  },
  "presets": [
    "stage-0",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}